<div class="ot-card-container">
  <div class="ot-card card-middle-blue ot-card-double ot-hover-card">
    <img otFadeInAnimation
         [duration]="1"
         [delay]="1" width="250" height="150" alt="Conservas Ortiz" src="../assets/anchovy.png">
  </div>

  <div class="ot-card ot-card-yelow ot-hover-card">

  </div>

  <div class="ot-card card-orange ot-hover-card">
    <p
      otFadeInAnimation
      [duration]="1"
      [delay]="1"
    >
      That's a cool effect, or not?
    </p>
  </div>
  <div class="ot-card ot-card-double ot-card-double-image">
    <iframe width="600" height="315" src="https://www.youtube.com/embed/4YIfCoc0qQw?"
            frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>
