<div #tileFishing class="ot-card-yelow ot-card ot-fishing-card">
  <!--<div class="three">
    <span>Pescado con caña uno a uno</span>
  </div>
  <div>
    <svg id ="arrowYellow" class="ot-material-icons" width="24" height="24" viewbox="0 0 24 24">
      <path d="M5 24 L0 24 L12 10 L24 24 L19 24 L12 16"/>
    </svg>
  </div>
  <div class="four">
    <span>Durante más de 100 años y a lo largo de cinco generaciones</span>
  </div>-->

  <span #fishingText1 class="ot-fishing-text-1">
   Pescado con caña uno a uno.
  </span>


  <span #fishingText2 class="ot-fishing-text-2">
    Durante más de 100 años y a lo largo de cinco generaciones.
  </span>

  <button #fishingArrow class="ot-fishing-up-arrow"></button>
</div>
