<div class="ot-card ot-card-orange ot-tile-heroe">
 <!-- <canvas #heroeCanvas></canvas>-->

  <button #tileHeroButton type="button" class="ot-tn-play-pause">Play radio ad</button>
 <!-- <img class="we-can-be-heroes"
       src="https://cdn.glitch.com/5fe96c62-a081-4344-8624-a5e0dd93a10d%2FDavid%20Bowie%20-%20Heroes.jpg?v=1608193988768" width="450px" alt="">

  -->
  <video #tileHeroVideo class="ot-tile-heroe-video" width="300" height="300">
    <source
      src="https://cdn.glitch.com/5fe96c62-a081-4344-8624-a5e0dd93a10d%2FHeroes%20%232%20-%20shorter.mp4?v=1608194005884"
      type="video/mp4">
  </video>
</div>
