<div #tile1 class="ot-card ot-card-blue-dark ot-tile1-card">
  <button #tile1img class="ot-tile1-image">
    <img src="https://cdn.glitch.com/5fe96c62-a081-4344-8624-a5e0dd93a10d%2F112?v=1608175603361" width="240px" alt="">
  </button>


  <span #tile1text class="ot-tile1-text">
    La mejor calidad gracias al respeto de las artes de pesca tradicionales, resultando en el exquisito sabor e inconfundible textura que marcan la diferencia en nuestros productos.
  </span>

   <button #arrowBlue class="ot-up-arrow"></button>


</div>
