<div id="prize">
  <img id="drawer" src="http://www.thirdleveltraining.com/images/tileGame/drawer.png">
  <img id="heart" src="http://www.thirdleveltraining.com/images/tileGame/purpleHeart.png">
</div>
<div id = "wrapper">
  <img id="board" src="http://www.thirdleveltraining.com/images/tileGame/woodGrain.png">
  <div id = "tray">
    <div id = "allTiles">
      <img class="tiles" id="tile4" src="http://www.thirdleveltraining.com/images/tileGame/tile4.png" alt="">
      <img class="tiles" id="tile10" src="http://www.thirdleveltraining.com/images/tileGame/tile10.png" alt="">
      <img class="tiles" id="tile9" src="http://www.thirdleveltraining.com/images/tileGame/tile9.png">
      <img class="tiles" id="tile14" src="http://www.thirdleveltraining.com/images/tileGame/tile14.png">
      <img class="tiles" id="tile13" src="http://www.thirdleveltraining.com/images/tileGame/tile13.png">
      <img class="tiles" id="tile15" src="http://www.thirdleveltraining.com/images/tileGame/tile15.png">
      <img class="tiles" id="tile1" src="http://www.thirdleveltraining.com/images/tileGame/tile1.png">
      <img class="tiles" id="tile5" src="http://www.thirdleveltraining.com/images/tileGame/tile5.png">
      <img class="tiles" id="tile2" src="http://www.thirdleveltraining.com/images/tileGame/tile2.png">
      <div class="blank" id="blank"></div>
      <img class="tiles" id="tile11" src="http://www.thirdleveltraining.com/images/tileGame/tile11.png">
      <img class="tiles" id="tile8" src="http://www.thirdleveltraining.com/images/tileGame/tile8.png">
      <img class="tiles" id="tile6" src="http://www.thirdleveltraining.com/images/tileGame/tile6.png">
      <img class="tiles" id="tile3" src="http://www.thirdleveltraining.com/images/tileGame/tile3.png">
      <img class="tiles" id="tile12" src="http://www.thirdleveltraining.com/images/tileGame/tile12.png">
      <img class="tiles" id="tile7" src="http://www.thirdleveltraining.com/images/tileGame/tile7.png">
    </div>
  </div>
</div>
