body, html {
  height: 100%;
}

.image-bg {
  /* The image used */
  background-image: url("/assets/bus-stop.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.ot-lady-heroe {
  margin-top: 380px;
  margin-right: 250px;
  float: right;
  position: relative;
}
