<div class="ot-card-container">
  <ot-tile1></ot-tile1>

  <div class="ot-card ot-card-middle-blue ot-hover-card">
    <img width="250" height="150" alt="Conservas Ortiz" src="../assets/tuna-5517511_1280.png">
  </div>

  <div class="ot-card ot-card-yelow ot-hover-card">
    <img otFadeInAnimation
         [duration]="1"
         [delay]="1" width="250" height="150" alt="Conservas Ortiz" src="../assets/anchovy.png">
  </div>

  <ot-tile-tint></ot-tile-tint>
  <button class="ot-card ot-card-double ot-card-double-image" (click)="openTunaGame()">
    <video width="600" height="350" loop controls muted>
      <source src="/assets/promo-2.mp4" type="video/mp4">
    </video>
  </button>
</div>

<div class="ot-card-container">
  <div class="ot-card ot-card-middle-blue ot-hover-card">
    <img
      src="https://cdn.glitch.com/5fe96c62-a081-4344-8624-a5e0dd93a10d%2Fconservas-ortiz-productos.png?v=1608196176920"
      width="80%" height="80%" alt="">
  </div>

  <ot-tile-fishing></ot-tile-fishing>
  <ot-tile-heroe></ot-tile-heroe>
</div>

